body {
  text-align: center;

}

#page1 {
  width: 960px;
  height: 95%;
  box-sizing: border-box;
  margin: 2.5% auto;
  background-color: #91e5ff;
  font-family: 'Chicle', cursive;
}

#page2 {
  position: relative;
  top: 15%;
  font-family: 'Chicle', cursive;
}

button {
  display: block;
  width: 50%;
  height: 20%;
  margin: 0 auto;
  font-size: 42px;
  cursor: pointer;
  background: transparent;
  border: 0;
  font-family: 'Chicle', cursive;
}

html,
body {
  height: 100%;
}

img {
  height: 200px;
}

h1 {
  padding-top: 2.5%;
  font-family: 'Chicle', cursive;
  font-size: 6.5em;
  color: rgb(124, 176, 255);
}

h2 {
  font-family: 'Chicle', cursive;
  margin-bottom: 25px;
  font-size: 35px;
}

h3 {
  font-family: 'Chicle', cursive;
  margin-bottom: 10px;
  font-size: 25px;
}

#start {
  margin-top: 10%;
  background: rgb(124, 176, 255);
  border: 2px solid rgb(234, 237, 255);
  font-family: 'Chicle', cursive;
}

button:hover {
  background: rgb(208, 168, 255);
  border: 2px solid rgb(154, 224, 245);
  font-family: 'Chicle', cursive;

}

footer {
  text-align: center;
  color: #91e5ff;
  padding-bottom: 20px;
  border-top-width: 5px;
  border-top-color: antiquewhite;
}